body {
            font-family: Arial, sans-serif;
            color: #333;
            display: flex;
            justify-content: center;
            background-image: url('https://i.pinimg.com/736x/d6/70/99/d670990fa86f31233a53a22d7bb2f4bc.jpg');
            background-size: cover;
            background-attachment: fixed;
}
      
        .quiz-container {
            background: #454141;
            border-radius: 12px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            width: 100%;
            max-width: 600px;
            padding: 20px;
            text-align: center;
            color: white;
        }

        .question {
            font-size: 1.2em;
            margin-bottom: 20px;
        }

        .options {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .option {
            padding: 10px;
            border: 2px solid #ccc;
            border-radius: 8px;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
        }

        .option:hover {
            background-color: #007bff;
            color: #fff;
        }

        .timer {
            font-size: 1.2em;
            margin-bottom: 20px;
            color: #ff5722;
        }

        .result {
            font-size: 1.5em;
            color: #4caf50;
            display: none;
            text-align: center;
        }

        .restart-btn {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px 20px;
            font-size: 1em;
            border-radius: 8px;
            cursor: pointer;
            margin-top: 20px;
            display: none;
        }

        .restart-btn:hover {
            background-color: #0056b3;
        }

        .summaryBtn {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px 20px;
            font-size: 1em;
            border-radius: 8px;
            cursor: pointer;
            margin-top: 20px;
            display: none;
            margin-left: 10px;
        }

        .summaryBtn:hover {
            background-color: #0056b3;
        }

        .div-flex{
          display: inline-flex;
          margin-right: 10px;
        }

        .summary-container {
            display: none;
            text-align: left;
        }

        .summaryOption {
            padding: 10px;
            border: 2px solid #ccc;
            border-radius: 8px;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
        }

        .correctAnswer{
          background-color: green;
          color: white;
        }

        .userselans{
          border: 5px solid blue;
        }

        .userAns{
          margin: 20px 20px 20px 0px;
          font-size:  1.2em;
          font-weight: bold;
          
        }
        .summaryquestion{
          font-size: 1.2em;
            margin-bottom: 20px;
            margin-top: 30px;
        }

        .main{
          max-width: 600px;
          width: 100%;
          align-content:  center;
         
        }